<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <br>
      <h1 class="text-center">
        <b>
          <font face = "Comic sans MS" size =" 15" color="#8b0000">DD Spell + TamGramCheck</font>
        </b>
      </h1>
      <br>
      <br>
    <!-- <app-spell-check></app-spell-check> -->

      <nav>
        <ul>
          
          <!-- <li><a routerLink="/grammar-checking" routerLinkActive="active">TamGramCheck</a></li> -->
          <li><a routerLink="/checking" routerLinkActive="active">DD Spell</a></li>
          <li><a routerLink="/grammar-checking" routerLinkActive="active">TamGramCheck</a></li>
        </ul>
      </nav>
  
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

